PORT=5001

NODE_ENV=development

MONGODB_URI=mongodb_uri_here


JWT_ACCESS_SECRET=access_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d



SMTP_HOST=smtp_host_here
SMTP_PORT=smtp_port_here
SMTP_USER=smtp_user_here
SMTP_PASS=smtp_pass_here

SMTP_FROM_EMAIL=SMTP_from_email_here


IMAGEKIT_PUBLIC_KEY=public_key_here
IMAGEKIT_PRIVATE_KEY=private_key_here
IMAGEKIT_URL_ENDPOINT=provided_url_endpoint_here

